# --- DATABASE CONFIG ---
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# --- AI & MAP CONFIG ---
# REST API Key (Lấy tại account.goong.io -> API Key)
# Key này dùng cho Backend để tính toán đường đi, tìm kiếm địa điểm
GOONG_API_KEY=YOUR_REST_API_KEY_HERE
